# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
s = pd.Series([4,8,15,16,23,42])
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
l = [1,2,3,4,5,6,6,7,8,9]

In [6]:
type(l)

list

In [8]:
s = pd.Series(l)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
type(s)

pandas.core.series.Series

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [10]:
d = {'Name' : ["Alice", "Bob", "Claire"],
     'Age' : [25,30,27],
     'Gender' : ["Female", "Male", "Female"]}

In [12]:
type(d)

dict

In [13]:
df = pd.DataFrame(d)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
type(df)

pandas.core.frame.DataFrame

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [15]:
# A DataFrame is a powerful data structure as it allows for easy manipulation, analysis, and cleaning of data. It provides various methods and functions to perform operations on the data, such as filtering, grouping, merging, and transforming.

# On the other hand, a pandas Series is a one-dimensional array-like object that can store data of any type, such as integers, floats, strings, or even Python objects. It is similar to a column in a DataFrame but does not have the tabular structure. A Series has both values and labels, where each value corresponds to a specific label or index.

In [16]:
fruits = pd.Series(['Apple', 'Banana', 'Orange', 'Mango'])
print(fruits)

0     Apple
1    Banana
2    Orange
3     Mango
dtype: object

In [17]:
data = {'Fruit': ['Apple', 'Banana', 'Orange', 'Mango'],
        'Color': ['Red', 'Yellow', 'Orange', 'Green'],
        'Quantity': [5, 3, 2, 4]}
df = pd.DataFrame(data)
print(df)

    Fruit   Color  Quantity
0   Apple     Red         5
1  Banana  Yellow         3
2  Orange  Orange         2
3   Mango   Green         4

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [18]:
# Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some common functions:

# head(): Returns the first n rows of the DataFrame. It is useful to quickly inspect the data and get a glimpse of its structure.

# tail(): Returns the last n rows of the DataFrame. It is useful to quickly check the end of the data.

# describe(): Generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values.

# shape: Returns the dimensions of the DataFrame as a tuple (rows, columns). It is useful to know the size of the dataset.

# drop(): Removes specified rows or columns from the DataFrame. It is useful for data cleaning or when you want to exclude certain data from analysis.

# sort_values(): Sorts the DataFrame by one or more columns. It is useful to arrange the data in a particular order for analysis.

# groupby(): Groups the DataFrame by one or more columns, allowing aggregation or transformation operations on the grouped data.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [19]:
# In pandas, both Series and DataFrame are mutable in nature, meaning their values can be modified after they are created. On the other hand, the Panel data structure has been deprecated.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
import pandas as pd

name = pd.Series(['John', 'Emma', 'Michael'])
age = pd.Series([25, 28, 32])
city = pd.Series(['New York', 'London', 'Sydney'])


data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)


df

      Name  Age      City
0     John   25  New York
1     Emma   28    London
2  Michael   32    Sydney